<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= profile.phone_number %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= profile.date_of_birth %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= profile.street %>
  </p>

  <p>
    <strong>Apartment:</strong>
    <%= profile.apartment %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= profile.floor %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= profile.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= profile.postal_code %>
  </p>

</div>
