<p style="color: green"><%= notice %></p>

<%= render @about_u %>

<div>
  <%= link_to "Edit this about u", edit_about_u_path(@about_u) %> |
  <%= link_to "Back to about us", about_us_path %>

  <%= button_to "Destroy this about u", @about_u, method: :delete %>
</div>
